.contFooter{
    /*
    position: fixed;
    bottom: 0; */ /*SI quiero q qde fija como pie de pag o en el view heigth*/
    /* left: 0; */
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    background-color: black;
}
.footer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divF{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer ul {
    display: flex;
    width: 100%;
}
.logo-footbar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
footer ul li {
    display: inline-block;
    position: relative;
    width: 35%;
}
/* color linea sup */
footer ul li h2 {
    display: block;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--primary-color);
}
footer ul li h4 p {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: .833vw;
    line-height: .9vw;
    text-transform: uppercase;
    font-weight: 800;
    vertical-align: middle;
}
/* color letras */
footer ul li p {
    display: block;
    color: var(--primary-color);
    font-size: small;
}
.divLinks{
    display: flex;
    flex-direction: column;
}
/* color par los Link */
.link-footbar{
    color: var(--primary-color);
}
.contTodasMedidas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;  
}
/* color linea inferior */
.line {
    margin-top: 10px;
    width: 100%; /* Ancho de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: var(--primary-color); /* Color de la línea */
    
    margin-bottom: 5px;
}
.icono-redes-foot{
    font-size: xx-large;
}

@media screen and (max-width: 900px){
    .footer {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 750px){
    footer ul li {
        text-align: center;
    }
}
@media screen and (max-width: 650px) {
    .divF {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .logo-footbar {
        width: 140px;
        height: 140px;
        margin-top: 20px;
    }
    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    footer ul li {
        display: block;        
        position: relative;
        width: 90%;
        margin-bottom: 10px;
    }
    .divLinks{
        justify-content: center;
        align-items: center;
    }
    footer ul li h4 p, footer ul li p, footer ul li .link {
        font-size: 15px;
        line-height: 17px;
        display: flex;
        justify-content: center;
    }
    .cont-iconos-redes{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


