.cont-home{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: rgba(46, 44, 44, 0.634);
}
.cont-filtros-listaProps{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
}
.cont-barraL{  
  width: 18%;
}
.cont-listaProps{
  width: 85%;
}

@media screen and (max-width: 650px){
  .cont-filtros-listaProps{
    align-items: center;
  }
  .cont-filtros-listaProps{
    display: flex;
    flex-direction: column;
  }
  .cont-barraL{
    width: 95%;
  }
  .cont-listaProps{
    width: 95%;
  }
}